page-create-question-step-4 {

  ion-content {

    h4 {
      text-align: center;
      margin-top: 10px!important;
    }

    ion-item {

      ion-label {
        font-size: 1.6rem!important;
      }
    }

    button[type="submit"] {
      color: #424242;
      font-size: 120%;
    }

    .btn-wrapper {
      text-align: center;
      margin-top: 10px;

      button {
        width: 90%;
        color: #484343;
        border-color: #484343;
      }
    }
  }
}
