<ion-header>
  <ion-navbar>
    <ion-title>
      Set your options
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4>Set your options:</h4>

  <ion-list no-lines>
    <ion-item text-wrap detail-none *ngFor="let option of options; let i = index;">
      {{ i+1 }}. {{ option }}
    </ion-item>
  </ion-list>

  <form class="saveForm" name="saveForm" #saveForm="ngForm" (ngSubmit)="onSubmit(saveForm)" *ngIf="showForm">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-item>
              <ion-input type="text" placeholder="Type your option here"  #option="ngModel" [(ngModel)]="optionText" name="option" required></ion-input>
            </ion-item>
            <div *ngIf="option.errors && (option.dirty || option.touched)"
              class="error-box">Option is required
            </div>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only clear type="submit" [disabled]="!saveForm.valid"><ion-icon name="add"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>

  <div class="btn-wrapper" *ngIf="showNextBtn">
    <button ion-button outline type="button" (click)="toNextStep()">Next</button>
  </div>

</ion-content>
