page-question-results {
  ion-content {
    .question-wrap {
      padding: 0 16px;
      .question-text {
        margin-top: 0;
      }
    }
    .optimal-choice-wrap, .no-choice-wrap {
      text-align: center;
      padding-bottom: 20px;
      .choice {
        margin-top: 0;
      }
    }
    .bar-chart-fab {
      img {
        padding: 3px;
      }
    }
  }
}
