page-question-results {
  ion-content {
    .question-wrap {
      .question-text {
        margin-top: 0;
      }
    }
    .optimal-choice-wrap {
      text-align: center;
      .title {
      }
      .choice {
        margin-top: 0;
        color: #358a29;
      }
    }
  }
}
