page-question-results {
  ion-content {
    .question-wrap {
      padding: 0 16px;
      .question-text {
        margin-top: 0;
      }
    }
    .charts-wrap {
      margin-left: 10px;
    }
    .optimal-choice-wrap {
      text-align: center;
      margin-top: 20px;
      .title {
      }
      .choice {
        margin-top: 0;
      }
    }
    .bar-chart-fab {
      img {
        padding: 3px;
      }
    }
  }
}
