page-create-question-step-5 {

  ion-content {

    .deadline-wrapper {
      position: relative;
      top: 30%;

      h4 {
        text-align: center;
        margin-top: 10px!important;
      }
    }
  }

  ion-footer {

    .btn-wrapper {
      text-align: center;
      margin: 0;
      padding: 0;

      button {
        color: #484343;
        border-color: #484343;
        margin: 0;
        height: 56px;
      }
    }
  }
}
