<ion-header>
  <app-header title="Create group"></app-header>
</ion-header>

<ion-content padding>

  <form class="createGroupForm"
    (keydown.enter)="createGroup(createGroupForm)"
    [formGroup]="createGroupForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Enter group name</ion-label>
        <ion-input type="text"
          [(ngModel)]="groupName"
          formControlName="name">
        </ion-input>
      </ion-item>
    </ion-list>
    <div *ngIf="createGroupForm.get('name').hasError('required') && createGroupForm.get('name').touched" class="error-box">
      Group name required
    </div>
    <div *ngIf="createGroupForm.get('name').hasError('minlength') && createGroupForm.get('name').dirty" class="error-box">
      Minimum of 3 characters
    </div>
  </form>

  <ion-list class="contacts" *ngIf="(selectedContacts$ | async)?.length">
    <h4>Selected contacts:</h4>
    <ion-item *ngFor="let contact of (selectedContacts$ | async)">
      <ion-label>
        <p class="username">{{ contact.username }}</p>
        <p class="email">{{ contact.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="dark" type="button"
      [disabled]="!createGroupForm.valid"
      (click)="createGroup(createGroupForm)">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>