page-create-group-complete {
  ion-content {
    h4 {
      //text-align: center;
      margin-top: 10px !important;
    }
    .createGroupForm {
      .list-md {
        margin: 0!important;
      }
    }
    .contacts {
      margin-top: 15px;
      .username {
        color: #000;
        font-size: 120%;
      }
      .email {
        font-size: 100%;
      }
    }
  }
}
