<ion-header>
  <ion-navbar>
    <ion-title>
      Create group
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form class="createGroupForm"
    (ngSubmit)="onCreateSubmit()"
    [formGroup]="createGroupForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Enter group name</ion-label>
        <ion-input type="text"
          [(ngModel)]="groupName"
          formControlName="name">
        </ion-input>
      </ion-item>
    </ion-list>
    <div *ngIf="createGroupForm.get('name').hasError('required') && createGroupForm.get('name').touched" class="error-box">
      Group name required
    </div>
    <div *ngIf="createGroupForm.get('name').hasError('minlength') && createGroupForm.get('name').dirty" class="error-box">
      Minimum of 3 characters
    </div>
  </form>

</ion-content>

<ion-footer>
  <div class="btn-wrapper">
    <button ion-button outline full type="button" [disabled]="!createGroupForm.valid"
      (click)="createGroup()">Create group</button>
  </div>
</ion-footer>