page-create-group-complete {
  ion-content {
    h4 {
      //text-align: center;
      margin-top: 10px !important;
    }
    .createGroupForm {
      .list-md {
        margin: 0!important;
      }
    }
    .contacts {
      margin-top: 15px;
      .username {
        color: #000;
        font-size: 120%;
      }
      .email {
        font-size: 100%;
      }
    }
    ion-footer {
      .btn-wrapper {
        text-align: center;
        margin: 0;
        padding: 0;
        button {
          color: #484343;
          border-color: #484343;
          margin: 0;
          height: 56px;
        }
      }
    }
  }
}
