page-create-question-step-2 {

  ion-content {

    .buttons-wrapper {
      text-align: center;
      position: relative;
      top: 25%;

      button {
        width: 90%;
        margin-bottom: 15px;
        color: #484343;
        border-color: #484343;
      }
    }
  }
}
