page-create-question-step-1 {

  ion-content {

    form {
      position: relative;
      top: 25%;
    }

    .btn-wrapper {
      text-align: center;
      margin-top: 10px;

      button {
        width: 220px;
      }
    }
  }
}
