<ion-header>
  <ion-navbar>
    <ion-title>
      Select group members
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4 *ngIf="!(contacts$ | async)?.length">You don't have any contact yet</h4>

  <form class="findContactForm"
    (ngSubmit)="onFindSubmit()"
    [formGroup]="findContactForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Find new contact by email</ion-label>
        <ion-input type="text"
          [(ngModel)]="findContactEmail"
          formControlName="email">
        </ion-input>
      </ion-item>
    </ion-list>
    <div *ngIf="findContactForm.get('email').hasError('pattern') && findContactForm.get('email').dirty" class="error-box">
      Invalid email
    </div>
    <div class="btn-wrap">
      <button ion-button
        type="submit"
        color="dark"
        [disabled]="!findContactForm.get('email').value?.length || findContactForm.get('email').hasError('pattern')">
        Find
      </button>
    </div>
  </form>

  <ion-list *ngIf="(contacts$ | async)?.length">
    <ion-item class="search">
      <ion-label floating>Search in my contacts</ion-label>
      <ion-input type="text" [formControl]="search" name="search"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="contacts" *ngIf="(contacts$ | async)?.length">
    <h4>Contacts:</h4>
    <ion-item *ngFor="let contact of (displayedContacts$ | async)">
      <ion-label>
        <p class="username">{{ contact.username }}</p>
        <p class="email">{{ contact.email }}</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="checkedContacts[contact.id]" name="foundContact" (ionChange)="contactChange()"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <div class="btn-wrapper">
    <button ion-button outline full type="button"
      [disabled]="!checkedContactsIds.length"
      (click)="toCreateGroupCompletePage()">Next</button>
  </div>
</ion-footer>