<ion-menu [content]="content">

  <ion-content>
    <div class="userinfo" *ngIf="(user$ | async)?.id == null">
      <h3>Welcome, guest</h3>
      <p>Please sign in</p>
    </div>
    <div class="userinfo" *ngIf="(user$ | async)?.id != null">
      <h3>{{(user$ | async)?.username}}</h3>
      <p>{{(user$ | async)?.email}}</p>
    </div>
    <ion-list *ngIf="(user$ | async)?.id != null">
      <button menuClose ion-item detail-none
        (click)="toDashboardPage()">
        Dashboard
      </button>
      <button menuClose ion-item detail-none
        *ngFor="let p of pages"
        (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item detail-none
        (click)="logout()">
        Log Out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>