page-create-question-step-3 {

  ion-content {

    .buttons-wrapper {
      text-align: center;
      position: relative;
      top: 15%;

      button {
        width: 90%;
        color: #484343;
        border-color: #484343;
        margin-bottom: 6px;
      }
    }
  }
}
