<ion-buttons class="menu-buttons-wrap">
  <button ion-fab mini (click)="toDashboardPage()">
    <ion-icon name="home"></ion-icon>
  </button>
  <button ion-fab mini (click)="toQuestionsList(QUESTIONS_RESULTS)">
    <ion-icon name="podium"></ion-icon>
  </button>
  <button class="create-question" ion-button icon-only clear (click)="toCreateQuestion()">
    <ion-icon name="add"></ion-icon>
  </button>
  <button ion-fab mini (click)="toGroupsPage()">
    <ion-icon name="people"></ion-icon>
  </button>
  <button ion-fab mini (click)="toSettingsPage()">
    <ion-icon name="settings"></ion-icon>
  </button>
</ion-buttons>