page-create-question-step-6 {

  ion-content {

    .groupslist-wrapper {
      position: relative;
      top: 10%;
      text-align: center;

      h4 {
        text-align: center;
        margin-top: 10px!important;
      }

      ion-checkbox {
        margin-right: 15px!important;
      }

      button {
        width: 90%;
        color: #484343;
        border-color: #484343;
      }
    }
  }

  ion-footer {

    .btn-wrapper {
      text-align: center;
      margin: 0;
      padding: 0;

      button {
        color: #484343;
        border-color: #484343;
        margin: 0;
        height: 56px;
      }
    }
  }
}
