<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register page header</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h1>Sign Up</h1>

  <form class="saveForm" name="saveForm" #saveForm="ngForm" (ngSubmit)="onSubmit(saveForm)">
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" #email="ngModel" [(ngModel)]="signUpData.email" name="email" email required></ion-input>
      </ion-item>
      <div *ngIf="email.errors && (email.dirty || email.touched)"
        class="error-box">Email is required
      </div>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" #username="ngModel" [(ngModel)]="signUpData.username" name="username" required></ion-input>
      </ion-item>
      <div *ngIf="username.errors && (username.dirty || username.touched)"
        class="error-box">Username is required
      </div>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" #password="ngModel" [(ngModel)]="signUpData.password" name="password" required></ion-input>
      </ion-item>
      <div *ngIf="password.errors && (password.dirty || password.touched)"
        class="error-box">Password is required
      </div>
    </ion-list>
    <div class="btn-wrapper">
      <button ion-button type="submit" [disabled]="!saveForm.valid">Sign Up</button>
    </div>
  </form>

</ion-content>