<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register page header</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h1>Sign Up</h1>

  <form class="saveForm" name="saveForm" #saveForm="ngForm" (ngSubmit)="onSubmit(saveForm)">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email"
          #email="ngModel"
          [(ngModel)]="formData.email"
          name="email"
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
          required>
        </ion-input>
      </ion-item>
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="error-box">
        <div [hidden]="!email.errors.required">
          Email is required
        </div>
        <div [hidden]="!email.errors.pattern">
          Invalid email
        </div>
      </div>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" #username="ngModel" [(ngModel)]="formData.username" name="username" required></ion-input>
      </ion-item>
      <div *ngIf="username.errors && (username.dirty || username.touched)"
        class="error-box">Username is required
      </div>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" #password="ngModel" [(ngModel)]="formData.password" name="password" required></ion-input>
      </ion-item>
      <div *ngIf="password.errors && (password.dirty || password.touched)"
        class="error-box">Password is required
      </div>
      <ion-item></ion-item>
    </ion-list>
    <div class="btn-wrapper">
      <button ion-button type="submit" [disabled]="!saveForm.valid">Sign Up</button>
    </div>
  </form>

</ion-content>