<ion-header>
  <ion-navbar>
    <ion-title *ngIf="questionSettings">
      Select group
    </ion-title>
    <ion-title *ngIf="!questionSettings">
      My groups
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only (click)="toGroupCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4 *ngIf="!(groups$ | async)?.length">You have no created groups yet</h4>

  <ion-list *ngIf="(groups$ | async)?.length">
    <ion-item class="search">
      <ion-label floating>Search for groups</ion-label>
      <ion-input type="text" [formControl]="search"></ion-input>
    </ion-item>
  </ion-list>

  <form class="saveForm" name="saveForm" #saveForm="ngForm">
    <ion-list radio-group>
      <ion-item class="group" *ngFor="let group of (displayedGroups$ | async)">
        <ion-label>
          <ion-icon class="group-details-icon" name="eye" (click)="toGroupDetails(group)"></ion-icon>
          {{group.name}}
        </ion-label>
        <ion-radio *ngIf="questionSettings" (ionSelect)="onGroupSelect(group)"></ion-radio>
      </ion-item>
    </ion-list>
  </form>

  <ion-fab right bottom *ngIf="questionSettings">
    <button ion-fab color="dark"
      type="button"
      [disabled]="!selectedGroupId"
      (click)="onComplete()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>