page-create-question-settings {
  ion-content {
    h4 {
      text-align: center;
      margin-top: 10px!important;
      margin-bottom: 10px!important;
    }
    .deadline {
      margin-top: 25px;
    }
    ion-item {
      padding: 0!important;

      &:last-child {
        display: none;
      }
    }
  }
}
