page-create-question-settings {

  ion-content {

    h4 {
      text-align: center;
      margin-top: 10px!important;
      margin-bottom: 10px!important;
    }

    .deadline {
      margin-top: 25px;
    }

    ion-item {
      padding: 0!important;

      &:last-child {
        display: none;
      }
    }
  }

  ion-footer {

    .btn-wrapper {
      text-align: center;
      margin: 0;
      padding: 0;

      button {
        color: #484343;
        border-color: #484343;
        margin: 0;
        height: 56px;
      }
    }
  }

}
