<app-header title="Question settigs"></app-header>

<ion-content padding>

  <form class="saveForm" [formGroup]="settingsForm">
    <ion-list>
      <h4>Enter your question</h4>
      <ion-item>
        <ion-label floating>Type your question here</ion-label>
        <ion-input type="text"
          formControlName="name"
          [(ngModel)]="questionText"
          (keydown.enter)="submit(settingsForm)"></ion-input>
      </ion-item>
      <div *ngIf="settingsForm.get('name').hasError('required') && settingsForm.get('name').touched" class="error-box">
        Question text required
      </div>
      <div *ngIf="settingsForm.get('name').hasError('minlength') && settingsForm.get('name').dirty" class="error-box">
        Minimum of 3 characters
      </div>
      <ion-item class="deadline">
        <ion-label>Set a deadline</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="{{ defaultDate }}" max="2017-10-31"
          [(ngModel)]="deadlineDate" formControlName="deadline"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Multiple answers</ion-label>
        <ion-toggle [(ngModel)]="multiple" formControlName="multiple"></ion-toggle>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>
  </form>

  <ion-fab right bottom>
  <button ion-fab color="dark" (click)="submit(settingsForm)" [disabled]="!settingsForm.valid">
  <ion-icon name="checkmark"></ion-icon>
  </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <!--<div class="btn-wrapper">-->
    <!--<button ion-button outline full type="button" [disabled]="!settingsForm.valid" (click)="submit(settingsForm)">Next</button>-->
  <!--</div>-->

  <ion-buttons class="menu-buttons-wrap">
    <button ion-fab mini (click)="toDashboardPage()" class="active">
      <ion-icon name="home"></ion-icon>
    </button>
    <button ion-fab mini (click)="toQuestionsList(QUESTIONS_RESULTS)">
      <ion-icon name="podium"></ion-icon>
    </button>
    <button class="create-question" ion-button icon-only clear (click)="toCreateQuestion()">
      <ion-icon name="add"></ion-icon>
    </button>
    <button ion-fab mini (click)="toGroupsPage()">
      <ion-icon name="people"></ion-icon>
    </button>
    <button ion-fab mini (click)="toSettingsPage()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-buttons>

</ion-footer>
