<ion-header>
  <app-header title="Question settings"></app-header>
</ion-header>

<ion-content padding>

  <form class="saveForm" [formGroup]="settingsForm">
    <ion-list>
      <h4>Enter your question</h4>
      <ion-item>
        <ion-label floating>Type your question here</ion-label>
        <ion-input type="text"
          formControlName="name"
          [(ngModel)]="questionText"
          (keydown.enter)="submit(settingsForm)"></ion-input>
      </ion-item>
      <div *ngIf="settingsForm.get('name').hasError('required') && settingsForm.get('name').touched" class="error-box">
        Question text required
      </div>
      <div *ngIf="settingsForm.get('name').hasError('minlength') && settingsForm.get('name').dirty" class="error-box">
        Minimum of 3 characters
      </div>
      <ion-item class="deadline">
        <ion-label>Set a deadline</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="{{ defaultDate }}" max="2017-10-31"
          [(ngModel)]="deadlineDate" formControlName="deadline"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Multiple answers</ion-label>
        <ion-toggle [(ngModel)]="multiple" formControlName="multiple"></ion-toggle>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-fab right bottom>
  <button ion-fab color="dark"
    (click)="submit(settingsForm)"
    [disabled]="!settingsForm.valid">
  <ion-icon name="arrow-round-forward"></ion-icon>
  </button>
</ion-fab>

<ion-footer>
  <app-footer [currentPageName]="currentPageName"></app-footer>
</ion-footer>
