page-create-question-settings {
  ion-content {
    h4 {
      text-align: center;
      margin-top: 10px!important;
      margin-bottom: 10px!important;
    }
    .deadline {
      margin-top: 25px;
    }
    ion-item {
      padding: 0!important;

      &:last-child {
        display: none;
      }
    }
    ion-fab {
      right: 20px!important;
      bottom: 20px!important;
      .fab {
        ion-icon {
          font-size: 55px;
        }
      }
    }
  }
}
