page-question {
  ion-content {
    .question-wrap {
      color: #424242;
      .title {
        text-align: center;
      }
      .question {
      }
      .deadline {
        text-align: right;
      }
    }
    .btn-wrapper {
      text-align: center;
      margin-top: 10px;

      button {
        width: 220px;
      }
    }
  }
}
