<ion-header>
  <ion-navbar>
    <ion-title>
      Question
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Action: {{ action }}</p>
  <div class="question-wrap">
    <h4 class="title">Question</h4>
    <h2 class="question">{{ question.text }}</h2>
    <ion-list no-lines class="options">
      <ion-item  *ngFor="let option of (currentOptions$ | async); let i = index">
        <ion-label>{{i+1}}. {{option.text}}</ion-label>
        <!--<ion-checkbox *ngIf="true"></ion-checkbox>-->
      </ion-item>
    </ion-list>
    <p class="deadline"> Deadline: {{ deadline | date }}</p>
  </div>
</ion-content>
