page-question {
  ion-content {
    .question-wrap {
      color: #424242;
      .title {
        text-align: center;
      }
      .question {
      }
      .deadline {
        text-align: right;
      }
    }
  }
}
