<ion-header>
  <ion-navbar>
    <ion-title>
      Question
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="question-wrap">
    <h4 class="title">Question</h4>
    <h2 class="question">{{ question?.text }}</h2>
    <ion-list no-lines radio-group class="options">
      <ion-item  *ngFor="let option of (currentOptions$ | async); let i = index">
        <ion-label>{{i+1}}. {{option?.text}}</ion-label>
        <ion-radio *ngIf="questionType == 'Awaiting Questions' && !optionType?.multiple"
          (ionSelect)="onOptionSelect(option)">
        </ion-radio>
        <ion-checkbox *ngIf="questionType == 'Awaiting Questions' && optionType?.multiple"
          [(ngModel)]="checkedOptions[option.id]"
          (ionChange)="onOptionChange()">
        </ion-checkbox>
      </ion-item>
    </ion-list>
    <p class="deadline"> Deadline: {{ deadline | date }}</p>
  </div>
  <div class="btn-wrapper">
    <button ion-button color="dark" type="button"
      *ngIf="questionType == 'Awaiting Questions'"
      [disabled]="!selectedOptionId && !checkedOptionsIds.length">
      Vote
    </button>
  </div>
</ion-content>
