<ion-header>
  <app-header title="Questions"></app-header>
</ion-header>

<ion-content>
  <h4 *ngIf="!(questionList$ | async).length">List is empty</h4>
  <div *ngIf="(questionList$ | async).length">
    <h4>{{ questionType }}</h4>
    <ion-card *ngFor="let question of (questionList$ | async)">
      <ion-card-content>
        <p>{{ question.text }}</p>
        <div class="buttons">
          <button ion-button clear (click)="toQuestionPage(question, questionType, ACTION_DETAILS)">See details</button>
          <!--<button ion-button clear color="danger" (click)="toQuestionPage(question, ACTION_RECAST)">Recast</button>-->
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>