page-questions-list {
  ion-content {
    h4 {
      margin-left: 30px;
    }
    p {
      font-size: 1.6rem!important;
    }
    ion-card {
      //width: 100% !important;
      //margin-left: 0 !important;
      //margin-right: 0 !important;
      border-top: 0.5px solid rgba(0, 0, 0, 0.1);
      ion-card-content {
        padding-bottom: 0 !important;
        .buttons {
          text-align: right;
        }
      }
    }
  }
}
