page-dashboard {

  ion-content {

    ion-list {

      ion-icon {
        vertical-align: bottom;
        padding-right: 5px;
      }
    }
  }

  ion-fab {
    .fab {
      ion-icon {
        font-size: 55px;
      }
    }
  }
}
