page-create-group {
  ion-content {
    h4 {
      //text-align: center;
      margin-top: 10px!important;
    }
    ion-item {
      &.search {
        //margin-bottom: 50px;
      }
    }
    .findContactForm {
      .list-md {
        margin: 0!important;
      }
    }
    .found-contacts {
      margin-top: 15px;
      .username {
        color: #000;
        font-size: 120%;
      }
      .email {
        font-size: 100%;
      }
    }
    ion-checkbox {
      margin-right: 15px!important;
    }
  }
  .btn-wrap {
    margin-top: 7px;
    text-align: center;
    button {
      height: 30px;
    }
  }
  ion-footer {
    .btn-wrapper {
      text-align: center;
      margin: 0;
      padding: 0;
      button {
        color: #484343;
        border-color: #484343;
        margin: 0;
        height: 56px;
      }
    }
  }
}
