<app-header title="Sign in"></app-header>

<ion-content>

  <h1>Sign In</h1>

  <form (ngSubmit)="onSubmit(signInForm)"
        [formGroup]="signInForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email"
          [(ngModel)]="formData.email"
          formControlName="email">
        </ion-input>
      </ion-item>
      <div *ngIf="signInForm.get('email').hasError('required') && signInForm.get('email').touched" class="error-box">
        Email is required
      </div>
      <div *ngIf="signInForm.get('email').hasError('pattern') && signInForm.get('email').dirty" class="error-box">
        Invalid email
      </div>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password"
          [(ngModel)]="formData.password"
          formControlName="password">
        </ion-input>
      </ion-item>
      <div *ngIf="signInForm.get('password').hasError('required') && signInForm.get('password').touched" class="error-box">
        Password is required
      </div>
      <div *ngIf="signInForm.get('password').hasError('minlength') && signInForm.get('password').dirty" class="error-box">
        Minimum of 6 characters
      </div>
      <ion-item></ion-item>
    </ion-list>
    <div class="btn-wrapper">
      <button ion-button color="secondary" type="submit" [disabled]="!signInForm.valid">Sign In</button>
      <br>
      or
      <br>
      <button ion-button color="light" type="button" (click)="toSignUpPage()">Register</button>
    </div>
  </form>

</ion-content>
